body {
	background-color: #F2B47E;
	margin: 1em auto;
	font-size: 10px;
	padding: 1em;
	text-align: center;
	font-family: 'Grandstander', cursive;
	cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='60' height='68' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🌻</text></svg>") 16 0,auto; /*!emojicursor.app*/

}

h1 {
	color: #403333;
	font-size: 5em;
}

p, ul {
	font-family: 'Grandstander', cursive;
	color: #403333;
	max-width: 30em;
	width: 100%;
	text-align: left;
	margin: 1em auto 1em auto;
	font-size: 2.5em;
	line-height: 1.3;
}

img.logo {
	width: 100%;
	height: auto;
	max-width: 400px;
	max-height: 400px;
	margin: 2em auto;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #BF6B63;
}

li {
  float: left;
}

li a {
  display: block;
  color: #1E401D;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #F2B47E;
}
